<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rasa Trainer</title>
</head>
<body>
    <div>
        <form id="workspace_form">
            <div>
                <label>Choose a Workspace:</label>
                <input id="workspace" type="file" webkitdirectory/>
            </div>
            <button type="submit">OK</button>
            <button id="cancel" type="button">Cancel</button>
        </form>
    </div>
    <script>
        const $ = require('jquery')
        const { ipcRenderer } = require('electron')

        const fileInput = $("#workspace")
        const form = $("#workspace_form")
        const cancelButton = $("#cancel")

        form.submit(() => {
            console.log(fileInput)
        })

        ipcRenderer.on('workspaces', (event, workspaces) => {
            console.log(workspaces)
        })

    </script>
</body>
</html>